/* Dropdown.module.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.selected {
  background-color: var(--black);
  color: var(--gray1);
  border: 1px solid #363636;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.arrow {
  margin-left: 20px;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(16, 16, 21);
  border-radius: 8px;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: var(--gray1);
}

.option {
  padding: 15px;
  cursor: pointer;
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  font-weight: 400;
  color: var(--gray1);
}

.option:hover {
  background-color: var(--color-darkorchid-200);
}
