.container {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 설정 */
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-left: 20px; /* 필요한 경우 화면 왼쪽에 공간 추가 */
}

.filterOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.filterButtons {
  cursor: pointer;
  border: 1px solid #a8a8a8;
  padding: 16px 40px;
  background-color: transparent;
  border-radius: var(--br-31xl);
  font-size: 16px;
  color: white;
}

.filterButtons.selected {
  background-color: #702cc3;
  color: black;
  border-color: #702cc3;
}

.menuList {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  margin-top: 40px;
}

.menuItem {
  padding: 15px;
  border: 1px solid black;
  border-radius: var(--br-3xs);
  background-color: var(--black);
  color: white;
  width: calc(20% - 15px); /* 5개씩 배치되도록 설정 */
  box-sizing: border-box;
  text-align: center;
  height: 200px; /* 카드 높이 설정 */
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.menuItem:hover {
  background-color: var(--color-dimgray-300);
  border-color: var(--color-dimgray-200);
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  height: 100%;
}

.restaurantName {
  color: #a8a8a8;
  margin-top: 5px;
  margin-bottom: 6px;
  flex: 1;
}

.menuName {
  margin: 5px 0;
  flex: 5;
  font-size: 17px;
}

.menuPrice {
  flex: 1;
  color: #a8a8a8;
  margin-top: 10px;
}