.home {
  width: 100%;
  background-color: var(--background);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 61.312rem;
  line-height: normal;
  letter-spacing: normal;
  align-items: center;
}

.parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  flex: 1;
  background: radial-gradient(50% 50%at 50% 50%, #2e3338, #17161d);
  flex-direction: column;
  gap: 6.312rem;
  align-items: center;
}

.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: center; /* 중앙 정렬 추가 */
  justify-content: center; /* 중앙 정렬 추가 */
  position: relative;
  width: 100%; /* 전체 너비를 사용 */
}

.icon {
  align-self: stretch;
  position: relative;
  display: none;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.div {
  align-self: stretch;
  position: relative;
  display: none;
  height: 67.5rem;
  background: radial-gradient(50% 50%at 50% 50%, #2e3338, #17161d);
}

.footerBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dimmer1);
}

.planeat2024 {
  position: relative;
  line-height: 1.5rem;
  z-index: 1;
}

.footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-62xl) var(--padding-xl) var(--padding-63xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-pretendard);
}

@media screen and (max-width: 1050px) {
  .parent {
    gap: var(--gap-31xl);
  }
  .home {
    gap: 30.625rem;
  }
}
@media screen and (max-width: 750px) {
  .parent {
    gap: var(--gap-6xl);
  }
  .home {
    gap: 15.313rem;
  }
}
