.content,
.signIn {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.signIn {
  width: 100%;
  position: relative;
  background-color: var(--background);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  gap: var(--gap-20xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 700px) {
  .signIn {
    gap: var(--gap-lgi);
  }
}
